<nav class="grid-span-3 sticky top-28 h-full flex flex-col gap-2 lg:min-w-[280px] bg-zinc-800 rounded-lg px-4 py-1">
  <%= link_to(
    dashboard_posts_path,
    class: "menu-item font-medium #{request.fullpath.include?(dashboard_posts_path) ? 'bg-zinc-900' : ''}"
  ) do %>
    <%= icon("notes", class_name: "w-5 h-5", title: "Posts", variant: :outline) %>
    <span>Posts</span>
  <% end %>
</nav>