<nav class="lg:col-span-3 xl:w-4/5 2xl:w-3/5 lg:sticky lg:top-28 h-max flex flex-col gap-2 bg-zinc-800 rounded-lg px-4 py-1">
  <%= link_to(
    dashboard_posts_path,
    class: "menu-item font-medium #{request.fullpath.include?(dashboard_posts_path) ? 'bg-zinc-900' : ''}"
  ) do %>
    <%= icon("notes", class_name: "w-5 h-5", title: "Posts", variant: :outline) %>
    <span>Posts</span>
  <% end %>
</nav>