<section class="flex flex-col items-center gap-32 flex-1">
  <hgroup class="flex flex-col gap-4 pt-32">
    <h1 class="text-5xl font-medium text-center">
      New <span class="text-violet-500">Blog Post</span>
    </h1>
    <p class="text-zinc-500 text-center">Write a new blog post. It's up to you.</p>
  </hgroup>
  <%= render 'form', locals: { blog_post: @blog_post } %>
</section>
