<section class="relative flex flex-col pt-12 gap-32">
  <div class="absolute left-0 top-4">
    <%= link_to "go back to posts", blog_posts_path, class: "p-3 bg-zinc-500 text-sm text-zinc-100 rounded-lg hover:bg-violet-500 transition" %>
  </div>
  <div class="flex flex-col gap-4">
    <p class="text-zinc-500 text-center ml-auto"><%= @blog_post.created_at.strftime("%B %d, %Y") %></p>
    <h1 class="text-3xl font-medium text-center"><%= @blog_post.title %></h1>
    <p class="text-zinc-500 text-center"><%= @blog_post.body %></p>
  </div>
</section>
