<% if current_user %>
  <%= button_to path, method: :post, class: "btn-like #{liked_by_current_user? ? 'liked' : ''}" do %>
    <%= icon("thumbs-up", class: "mr-2", title: "Like", variant: :outline) %>
    <span>
      <% if likes.count.positive? %>
        <p><%= likes.count %> likes</p>
      <% else %>
        0 likes
      <% end %>
    </span>
  <% end %>
<% else %>
  <span>
    <% if likes.count.positive? %>
      <p><%= likes.count %> likes</p>
    <% else %>
      0 likes
    <% end %>
  </span>
<% end %>