<div class="hidden flex flex-col gap-4 pt-4 ml-6" data-custom-toggle-target="toggleable">
  <%= turbo_stream_from(dom_id(comment, :replies)) %>
  <%= turbo_frame_tag(dom_id(comment, :replies), class: "flex flex-col gap-4") do %>
    <% if replies.any? %>
      <% replies.each do |reply| %>
        <%= render(partial: "replies/reply", locals: { author: reply.user == user, reply:, user: }) %>
      <% end %>
    <% end %>
  <% end %>
  <div class="flex flex-col gap-4">
    <%= render(partial: "replies/form", locals: { comment: comment, reply: comment.replies.build }) %>
  </div>
</div>
