@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "beautifully-delicious";
  src: url("BDSans-Regular.woff2") format("woff2"),
    url("BDSans-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

@layer components {
  .btn-primary {
    @apply p-3 bg-zinc-500 text-sm text-zinc-100 rounded-lg hover:bg-violet-500 transition cursor-pointer;

    &:disabled {
      @apply bg-zinc-400 text-zinc-300 cursor-not-allowed;
    }
  }

  .btn-secondary {
    @apply p-3 bg-violet-500 text-sm text-zinc-100 rounded-lg hover:shadow-lg hover:shadow-violet-500/20 transition cursor-pointer;

    &:disabled {
      @apply bg-zinc-500 text-zinc-400 cursor-not-allowed shadow-none;
    }
  }

  .btn-cancel {
    @apply p-3 bg-zinc-500 text-sm text-zinc-100 rounded-lg hover:bg-zinc-600 transition cursor-pointer;
  }

  .btn-danger {
    @apply p-3 bg-red-500 text-sm text-zinc-100 rounded-lg hover:bg-red-600 transition cursor-pointer;
  }

  .btn-md {
    @apply px-3 py-1.5 text-sm;
  }

  .link-primary {
    @apply text-zinc-300 hover:text-violet-700 transition cursor-pointer;
  }

  .link-secondary {
    @apply text-violet-500 hover:text-violet-700 transition cursor-pointer;
  }

  .form {
    @apply flex flex-col gap-6 w-full md:max-w-[55vw] lg:max-w-[45vw];
  }

  .field {
    @apply flex flex-col gap-4 w-full;
  }

  .checkbox-field {
    @apply flex items-center gap-2;
  }

  .input {
    @apply w-full p-3 border bg-zinc-900 border-zinc-100 text-sm text-zinc-300 rounded-lg focus:outline-none focus:ring-0 focus:ring-offset-0 focus:border-violet-900;
  }

  .field-error {
    @apply border-red-500 focus:border-red-500;
  }

  .field-label {
    @apply text-zinc-100 text-base font-medium;
  }

  .error {
    @apply text-red-500;
  }

  .textarea {
    @apply w-full min-h-[400px] p-3 border bg-zinc-900 border-zinc-100 text-sm text-zinc-300 rounded-lg resize-y focus:outline-none focus:ring-0 focus:ring-offset-0 focus:border-violet-900;
  }

  .trix-wrapper {
    @apply w-full border bg-zinc-900 border-zinc-100 text-sm text-zinc-300 rounded-lg resize-y break-words focus:outline-none focus:ring-0 focus:ring-offset-0 focus:border-violet-900;
  }

  .rich-textarea {
    @apply p-3 border-none focus:outline-none focus:ring-0 focus:ring-offset-0;
  }

  .error-message {
    @apply text-red-500 text-sm;
  }

  .divider {
    @apply w-full h-px bg-zinc-800 mt-px;
  }

  .dot-divider {
    @apply w-1 h-1 rounded-full bg-violet-500 flex items-center justify-center;
  }

  .avatar {
    @apply flex w-8 h-8 rounded-full bg-violet-500;
  }

  .panel-header {
    @apply absolute left-0 top-4 flex items-center justify-between w-full;
  }

  .comment {
    @apply flex flex-col gap-4 rounded-lg p-6 border border-zinc-800 shadow-md shadow-zinc-800/20;
  }

  .badge {
    @apply px-3 py-2 text-xs font-medium bg-violet-500 text-zinc-900 rounded-lg;
  }

  .menu-item {
    @apply flex items-center px-3 py-2 text-sm text-zinc-300 rounded w-full min-w-[100px] hover:bg-zinc-700 transition cursor-pointer;
  }
}
